<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>LearnUI</display-name>
	<!-- TODO: Version number, Date, to add of build release -->
	
	<!-- Init servlet for context parameters initialization  -->
	<!-- ========================================================== -->
	<!-- Context Parameters -->
	<!-- ========================================================== -->
	
	<!-- Version, from `RLIM` adds (i.e. `ResileoLabs-Incident-Management`); the below number, DateTime `2018-09-16 19:06`, is from git copy, paste added on -->
	
	<!-- Version number -->
	<context-param>
		<param-name>version</param-name>
		<param-value>1.0.001 Beta</param-value>
		<!--	Major.Minor.Build	-->
	</context-param>
	<context-param>
		<param-name>VersionLastUpdate</param-name>
		<param-value>2018-11-15 10:20</param-value>
	</context-param>
	<context-param>
		<description>Constant file properties</description>
		<param-name>CONSTANTS_PROPERTIES_FILE_PATH</param-name>
		<param-value>/WEB-INF/classes/com/openlearning/learn/resource/Constants.properties</param-value>
	</context-param>
	
	
	
	<!-- ========================================================== -->
	<!-- Filter -->
	<!-- ========================================================== -->
	<!-- commented, `POST` parameter values pass, not working  -->
	<!-- Note: Angular6, `POST` ajax call in `HttpParams` value pass, working value gets in servlet -->
	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>com.openlearning.learn.filter.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<!-- commented, above custom adds, `POST` method value pass gets in servlet, to checking to try,
		below from library jar file `tomcat-catalina-7.0.42`, below link adds 
		https://stackoverflow.com/questions/25442115/enabling-a-cors-response-filter-in-tomcat-8-0
		https://tomcat.apache.org/tomcat-8.5-doc/config/filter.html 
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			< ! - - commented, not working 
			<param-value>*</param-value> - - >
			< ! - - Note: `http://localhost:4200/` not working (ie. ends with slash) - - >
			<param-value>http://localhost:4200</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.headers</param-name>
			< ! - - commented, not working POST parameter values not gets 
			<param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers,Last-Modified</param-value> - - >
			<param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
		</init-param>
		<init-param>
			<param-name>cors.exposed.headers</param-name>
			<param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
		</init-param>
		<init-param>
			<param-name>cors.support.credentials</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
    	<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	
	<!-- ========================================================== -->
	<!-- Servlets -->
	<!-- ========================================================== -->
	
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.openlearning.learn.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	
	<servlet>
		<servlet-name>LoginController</servlet-name>	<!-- //servlet name -->
		<servlet-class>com.openlearning.learn.controller.LoginController</servlet-class>	<!-- //servlet class -->
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>	<!-- //servlet name -->
		<url-pattern>/loginSession</url-pattern>	<!-- //how it should appear -->
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/logoutSession</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.openlearning.learn.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/reloadConfigProperties</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/getLoginUserDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/isSessionExists</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>StudentDetailsController</servlet-name>
		<servlet-class>com.openlearning.learn.controller.StudentDetailsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StudentDetailsController</servlet-name>
		<url-pattern>/addStudentDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentDetailsController</servlet-name>
		<url-pattern>/getUserStudentsDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentDetailsController</servlet-name>
		<url-pattern>/getUserStudentDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentDetailsController</servlet-name>
		<url-pattern>/updateStudentDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentDetailsController</servlet-name>
		<url-pattern>/deleteRow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentDetailsController</servlet-name>
		<url-pattern>/getStudentRecordHistoryDetails</url-pattern>
	</servlet-mapping>
	
	
	
	<!-- ========================================================== -->
	<!-- Welcome Files -->
	<!-- ========================================================== -->
	
	<!-- start-up page -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>